<!DOCTYPE html>
<html lang="ja">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

</head>

<body>
  <header class="header">
    <h1>Marvel Snap 日本版情報サイト</h1>
  </header>

  <!-- ここにメインコンテンツを追加 -->



  <!-- ナビゲーションバー -->
<nav class="navbar">
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><a href="/about/">サイトについて</a></li>
    <li><a href="/contact/">お問い合わせ</a></li>
    <li><a href="{{ site.baseurl }}/about/">サイトについて</a></li>
　　<li><a href="{{ site.baseurl }}/contact/">お問い合わせ</a></li>

  </ul>
</nav>


  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
